# Flipkart data analysis page 4

In [1]:
import pandas as pd
import numpy as np
newdf = pd.read_csv('cleanedflipkart.csv')

In [3]:
newdf.head(2)

,Unnamed: 0,product_name,product_category_tree,retail_price,discounted_price,is_FK_Advantage_product,product_rating,overall_rating,product_specifications,Brand_names
0,0,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",999.0,379.0,False,No rating available,No rating available,"{""product_specification""=>[{""key""=>""Number of ...",Alisha
1,1,FabHomeDecor Fabric Double Sofa Bed,"[""Furniture >> Living Room Furniture >> Sofa B...",32157.0,22646.0,False,No rating available,No rating available,"{""product_specification""=>[{""key""=>""Installati...",FabHomeDecor

In [9]:
newdf.info()
#newdf.drop(['Unnamed: 0'],axis=0,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19449 entries, 0 to 19448
Data columns (total 10 columns):
Unnamed: 0                 19449 non-null int64
product_name               19449 non-null object
product_category_tree      19449 non-null object
retail_price               19371 non-null float64
discounted_price           19371 non-null float64
is_FK_Advantage_product    19449 non-null bool
product_rating             19449 non-null object
overall_rating             19449 non-null object
product_specifications     19435 non-null object
Brand_names                19449 non-null object
dtypes: bool(1), float64(2), int64(1), object(6)
memory usage: 930.7+ KB

In [14]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19449 entries, 0 to 19448
Data columns (total 10 columns):
Unnamed: 0                 19449 non-null int64
product_name               19449 non-null object
product_category_tree      19449 non-null object
retail_price               19371 non-null float64
discounted_price           19371 non-null float64
is_FK_Advantage_product    19449 non-null bool
product_rating             19449 non-null object
overall_rating             19449 non-null object
product_specifications     19435 non-null object
Brand_names                19449 non-null object
dtypes: bool(1), float64(2), int64(1), object(6)
memory usage: 930.7+ KB

### 14 missing product specifications to be handled

## product_category from product_category_tree, taking just the parent category

In [16]:
def productcategorypred(x):
    x = x.strip("''")
    x = x.strip("[]")
    x = x.strip(" " " ")
    x = x.split(">>")
    return(x[0][1:])
    
newdf["product_category"] = newdf["product_category_tree"].apply(lambda x: productcategorypred(x))

In [17]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19449 entries, 0 to 19448
Data columns (total 11 columns):
Unnamed: 0                 19449 non-null int64
product_name               19449 non-null object
product_category_tree      19449 non-null object
retail_price               19371 non-null float64
discounted_price           19371 non-null float64
is_FK_Advantage_product    19449 non-null bool
product_rating             19449 non-null object
overall_rating             19449 non-null object
product_specifications     19435 non-null object
Brand_names                19449 non-null object
product_category           19449 non-null object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 1006.7+ KB

In [20]:
newdf['product_category'][100]

'Clothing '

In [23]:
type(newdf['retail_price'][21])

numpy.float64

## retail_price,and discounted_price had some nan value, temporarily filled with 0 to avoid exceptions

In [33]:
newdf['retail_price'].fillna(0,inplace=True)
newdf.info()
#newdf['discounted_price'].fillna(0,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19449 entries, 0 to 19448
Data columns (total 11 columns):
Unnamed: 0                 19449 non-null int64
product_name               19449 non-null object
product_category_tree      19449 non-null object
retail_price               19449 non-null float64
discounted_price           19371 non-null float64
is_FK_Advantage_product    19449 non-null bool
product_rating             19449 non-null object
overall_rating             19449 non-null object
product_specifications     19435 non-null object
Brand_names                19449 non-null object
product_category           19449 non-null object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 1006.7+ KB

In [34]:
newdf['discounted_price'].fillna(0,inplace=True)

## The nan value here, too had the same issue, so type casting it all to string, and separating them

In [37]:
#newdf.info()
def to_string(x):
    return str(x)

In [38]:
newdf['product_specs_refined'] = newdf['product_specifications'].apply(to_string)

In [40]:
dfwithnan = newdf[newdf['product_specs_refined']=='nan']

In [46]:
dfnotwithnan = newdf[newdf['product_specs_refined']!='nan']

In [49]:
dfnotwithnan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19435 entries, 0 to 19448
Data columns (total 12 columns):
Unnamed: 0                 19435 non-null int64
product_name               19435 non-null object
product_category_tree      19435 non-null object
retail_price               19435 non-null float64
discounted_price           19435 non-null float64
is_FK_Advantage_product    19435 non-null bool
product_rating             19435 non-null object
overall_rating             19435 non-null object
product_specifications     19435 non-null object
Brand_names                19435 non-null object
product_category           19435 non-null object
product_specs_refined      19435 non-null object
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 1.2+ MB

In [41]:
dfwithnan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 21 to 13643
Data columns (total 12 columns):
Unnamed: 0                 14 non-null int64
product_name               14 non-null object
product_category_tree      14 non-null object
retail_price               14 non-null float64
discounted_price           14 non-null float64
is_FK_Advantage_product    14 non-null bool
product_rating             14 non-null object
overall_rating             14 non-null object
product_specifications     0 non-null object
Brand_names                14 non-null object
product_category           14 non-null object
product_specs_refined      14 non-null object
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 910.0+ bytes

In [45]:
dfwithnan.head(1)
newdf['product_specifications'][0]

'{"product_specification"=>[{"key"=>"Number of Contents in Sales Package", "value"=>"Pack of 3"}, {"key"=>"Fabric", "value"=>"Cotton Lycra"}, {"key"=>"Type", "value"=>"Cycling Shorts"}, {"key"=>"Pattern", "value"=>"Solid"}, {"key"=>"Ideal For", "value"=>"Women\'s"}, {"value"=>"Gentle Machine Wash in Lukewarm Water, Do Not Bleach"}, {"key"=>"Style Code", "value"=>"ALTHT_3P_21"}, {"value"=>"3 shorts"}]}'

In [57]:
type(dfnotwithnan['product_name'][0])

str

In [58]:
type(dfnotwithnan['product_specifications'][0])

str

### Logic, matching product names should have near about equal specifications

In [61]:
spect_dict = {}
for row_index,row in dfnotwithnan.iterrows():
    #print(row)
    spect_dict[row['product_name']] = row['product_specifications']

In [54]:
type(spect_dict)

dict

In [65]:
#spect_dict
dfwithnancopy = dfwithnan.copy()

In [67]:
for row_index,row in dfwithnancopy.iterrows():
    if row['product_name'] in spect_dict.keys():
        dfwithnancopy['product_specifications'][row_index] = spect_dict[row['product_name']]

C:\Users\h_asp\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [74]:
for row_index,row in dfwithnancopy.iterrows():
    if row['product_name'] in spect_dict.keys():
        dfwithnancopy['product_specs_refined'][row_index] = spect_dict[row['product_name']]

C:\Users\h_asp\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

### Even after this filtering, 8 of the products' specification values could not be determined, hence dropped

In [75]:
dfwithnancopy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 21 to 13643
Data columns (total 12 columns):
Unnamed: 0                 14 non-null int64
product_name               14 non-null object
product_category_tree      14 non-null object
retail_price               14 non-null float64
discounted_price           14 non-null float64
is_FK_Advantage_product    14 non-null bool
product_rating             14 non-null object
overall_rating             14 non-null object
product_specifications     6 non-null object
Brand_names                14 non-null object
product_category           14 non-null object
product_specs_refined      14 non-null object
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 1.4+ KB

In [76]:
dfwithnancopy.head(1)

,Unnamed: 0,product_name,product_category_tree,retail_price,discounted_price,is_FK_Advantage_product,product_rating,overall_rating,product_specifications,Brand_names,product_category,product_specs_refined
21,21,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",0.0,0.0,False,No rating available,No rating available,"{""product_specification""=>[{""key""=>""Number of ...",Alisha,Clothing,"{""product_specification""=>[{""key""=>""Number of ..."

In [77]:
dfspecscleaned = dfwithnancopy[dfwithnancopy['product_specs_refined'] != 'nan']

In [87]:
dfspecscleaned.info()
dff2 = dfspecscleaned.copy()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 21 to 12585
Data columns (total 12 columns):
Unnamed: 0                 6 non-null int64
product_name               6 non-null object
product_category_tree      6 non-null object
retail_price               6 non-null float64
discounted_price           6 non-null float64
is_FK_Advantage_product    6 non-null bool
product_rating             6 non-null object
overall_rating             6 non-null object
product_specifications     6 non-null object
Brand_names                6 non-null object
product_category           6 non-null object
product_specs_refined      6 non-null object
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 390.0+ bytes

In [88]:
dff2.drop(['product_specifications'],axis=1,inplace=True)

In [83]:
dfnotwithnan.head(1)
dff1 = dfnotwithnan.copy()

In [84]:
dff1.drop(['product_specifications'],axis=1,inplace=True)

In [89]:
dff1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19435 entries, 0 to 19448
Data columns (total 11 columns):
Unnamed: 0                 19435 non-null int64
product_name               19435 non-null object
product_category_tree      19435 non-null object
retail_price               19435 non-null float64
discounted_price           19435 non-null float64
is_FK_Advantage_product    19435 non-null bool
product_rating             19435 non-null object
overall_rating             19435 non-null object
Brand_names                19435 non-null object
product_category           19435 non-null object
product_specs_refined      19435 non-null object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 1.1+ MB

In [90]:
frames = [dff1,dff2]

In [91]:
final_flipkart = pd.concat(frames)

In [92]:
final_flipkart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19441 entries, 0 to 12585
Data columns (total 11 columns):
Unnamed: 0                 19441 non-null int64
product_name               19441 non-null object
product_category_tree      19441 non-null object
retail_price               19441 non-null float64
discounted_price           19441 non-null float64
is_FK_Advantage_product    19441 non-null bool
product_rating             19441 non-null object
overall_rating             19441 non-null object
Brand_names                19441 non-null object
product_category           19441 non-null object
product_specs_refined      19441 non-null object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 1.1+ MB

In [93]:
final_flipkart.to_csv('flipkart_spec_cat_brand.csv',encoding ='utf-8')

### This dataframe now consists of filtered brand names, specification values, and categories, with zeros in nan values of dicounted and retail prices

Next see the Retail price, rating cleaning